NODE_ENV=development

USER=
PASS=
SECRET=

NUXT_TURNSTILE_SECRET_KEY=
NUXT_TURNSTILE_SITE_KEY=

# API URL
API_URL=

# INCLUDE THE WEBSITE URL (with https://)
WEBSITE=

# YOU CAN JUST USE OTHER FORM APP
FORMATE_URL=
FORMATE_API_KEY=
